.bodyy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #625e5e;
    background-color: #0F1623;
    padding: 60px 20px;
  }
  
  h2 {
    color: #0cd2A4;
    margin-bottom: 5px;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(97, 96, 96, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* border: 0.8px solid #0cd2A4; */
  }
  
  #upp {
    margin-top: 60px;
  }
  
  .icon {
    color: white;
    margin-bottom: 10px;
  }
  

  
  /* Animation Effects */
  .fadeInLeft {
    animation: fadeInLeft 1s ease-out forwards;
  }
  
  .fadeInRight {
    animation: fadeInRight 1s ease-out forwards;
  }
  
  /* Keyframes for scroll animations */
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-30%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(30%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  