.business-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #0F1623;
    /* padding: 20px; */
    /* margin-top: 0px; */
    /* margin-bottom: 50px; */
  }
  
  .business-card {
    width: 300px;
    /* height: 300px; */
    perspective: 1000px; /* Perspective for the 3D flip effect */
    margin-right: 25px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  .business-front,
  .business-back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* background: white; */
    color: #f2f4f3;
    box-shadow: 0px 4px 8px rgba(254, 253, 253, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden; /* Hide the back side when facing away */
    /* transition: transform 0.6s; */
  }


#cardd{
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
}

#cardd:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
  
  .business-front {
    padding: 20px;
  }
  

  
  /* .business-card:hover .business-front {
    transform: rotateY(80deg); 
  }
  
  .business-card:hover .business-back {
    transform: rotateY(10deg); 
  } */
  
  h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  